body {
    background-color: #e9e9e9;
    background: linear-gradient(180deg, #e9e9e9, #dfdfdf) !important;
    color: #819199 !important;
}
code {
    background-color: #e9e9e9;
}
.page-button {
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(240deg, #155799, #159957);
}